*{
    margin:0;
    padding: 0;
    border:none;
    outline:none;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    display: flex;
}
.sidebar{
    position: sticky;
    top:0;
    left: 0;
    bottom: 0;
    width: 240px;
    height: 100vh;
    padding: 0 1.7em;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgb(78, 190, 72);
}
.menu{
    height:88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li{
    padding: 1rem;
    margin:8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover,.active{
   background: #e0e0e058;
}
.menu a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap:1.5rem;
    
}
.menu a span{
    overflow: hidden;
}
.menu a i{
  font-size: 1.2rem;
}
.main--content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
    display:flex;
    justify-content:space-evenly;
    margin-bottom:600px;
}

.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-self: center;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
    z-index: 1;
  
    
}
.header--title{
    color: rgb(78, 190, 72);

};
.Today--sales{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    
}
.main--title{
    position: relative;
    top: 170px;
    left: -170px;
    color:rgb(78, 190, 72);
    padding-bottom: 10px;
    font-size: 15px;
    background-color: white;
    padding: 10px;
    
}
.Today--wrapper{
    position: relative;
    top: 170px;
    left: -170px;
    background: rgb(229,223,223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Today--wrapper:hover{
    transform: translateY(-5px);
}
.amount{
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}
.title{
    font-size: 12px;
    font-weight: 200;
}