*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right,lightsteelblue,rgb(238, 144, 238));
}
.container{
    display:inline-block;
    max-width: 700px;
    width: 100%;
    background:white;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom:0;
    height: 3px;
    width: 70px;
    background:rgb(222, 144, 238) ;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .input-box{
    margin:20px 0;
    width:300px;
}
.user-details .input-box .details{
   display: block;
   font-weight: 500;
   margin-bottom: 5px;
}
.user-details .input-box input{
    height:45px;
    width: 100%;
    outline:none;
    border-radius:5px;
    border:1px solid #ccc;
    padding-left: 15px;
}
.user .input-box input:focus,
.user-details .input-box input:valid{
    border-color: rgb(222, 144, 238);
}
.buttoncontainer form-button{
      display: flex;
}
form button {
    height:50px;
    width: 100%;
    display: block;
    outline: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: rgb(222, 144, 238);
}
.tabless{
    padding: 30px;
}